<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Course Details</h1>
    <table border="1">
      <tr>
        <th>Average Marks</th>
        <th>Maximum Marks</th>
      </tr>
      <tr>
        <td>{{ avg_marks }}</td>
        <td>{{ max_marks }}</td>
      </tr>
    </table>
    <img src="../static/hist_of_marks.png" alt="histogram of marks" />
    <br>
    <a href="/">Go Back</a>
  </body>
</html>
