<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1>Course List</h1>
    <h1 style="position:absolute;top:0;right:15px"><a href="/">Go to Students</a></h1>
    {% if len == 0 %}
    <p>No course found. Add courses now!</p>
    {% else %}
    <table border=1 id="all-courses">
        <tr>
            <th>SNo</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Actions</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="/course/{{course.course_id}}">{{course.course_code}}</a></td>
            <td>{{course.course_name}}</td>
            <td>{{course.course_description}}</td>
            <td>
                <a href="/course/{{course.course_id}}/update">Update</a>
                <a href="/course/{{course.course_id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <a href="/course/create" type="button"><button>+ Add Course</button></a>
</body>

</html>