<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Student</title>
  </head>
  <body>
    <h1>Update Student</h1>
    <form
      action="/student/{{student.student_id}}/update"
      method="POST"
      id="update-form"
    >
      <div>
        <label>Roll Number:</label>
        <input type="text" name="roll" value={{student.roll_number}} disabled />
      </div>
      <br>
      <div>
        <label>First Name:</label>
        <input type="text" name="f_name" value={{student.first_name}} required />
      </div>
      <br>
      <div>
        <label>Last Name:</label>
        <input type="text" name="l_name" value={{student.last_name}} />
      </div>
      <br>
      <div>
        <label>Select Courses: </label>
        {% for course in courses %}
          <input type="checkbox" name="courses" value={{course.course_id}} />
          <label>{{course.course_name}}</label>
        {% endfor %}
      </div>
      <br>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
